.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #111111;
  color: white;
  padding: 10px;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.input {
  display: flex;
}

.input input {
  margin-top: 10px;
  width: 300px;
  padding: 5px
}

.header button {
  margin-top: 10px;
  background-color: #265b74;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
}

.header button:hover {
  background-color: #006183;

}

.inicio {
  margin-top: 10px;
  background-color: #265b74;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
}

@media (max-width:1000px) {
  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .input input {
    margin-top: 10px;
    padding: 5px;
  }
  
  .input button {
    margin-top: 10px;
    background-color: #265b74;
    border: none;
    color: white;
    padding: 5px 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
  }

  .header {
    font-size: 12px;
  }
}

@media (max-width:400px) {
  .header {
    font-size: 10px;
  }
}